.menu {
  height: 100%;
  overflow: hidden;
  background-color: #ffd8c2;
  transform: translate(-100%, 0%);
  pointer-events: none;
  transition: 0.5s transform;
  color: #433aa9;
}

.menu.open {
  transition: 0.5s transform;
  z-index: 1000;
  transform: translate(0%, 0%);
  pointer-events: auto;
}

.menu.close {
  transition: 0.5s transform;
  z-index: 1000;
  transform: translate(-100%, 0%);
  pointer-events: auto;
}

.menu .close-menu {
  position: absolute;
  right: 25px;
  top: 25px;
}

.menu .menu-title {
  font-size: 14px;
}

.menu .menu-link {
  font-size: 28px;
}

@media only screen and (min-width: 767px) {
  .menu .menu-title {
    font-size: 22px;
  }

  .menu .menu-link {
    font-size: 48px;
    margin-bottom: 30px;
  }

  .menu .link-white:after {
    background-color: #ffffff;
    top: 56px;
    width: 20%;
  }
}
