.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.narrativeTitle{
  font-size: 25px;
  line-height: 1.2;
  /* color: #d8434e; */
}

.narrativeTitle,
.narrativeParagraph {
  font-style: normal;
  font-weight: normal;
  
  /* #d8434e; */
}

.narrativeParagraph {
  font-size: 20px;
  line-height: 1.2;
  color: black;
}

.paragraphs {
  max-width: 50%;
  padding-left: 1rem;
  margin-left: 1rem;
  border-left: 1px solid red;
}

.paragraphs p {
  display: none;
}

figcaption{
  font-size: 15px;
}