.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraphs{
  max-width: 50%;
  padding-left: 1rem;
  margin-left: 1rem;
  border-left: 1px solid red;
}

.paragraphs p{
  display: none;
}
