.chapterNumber {
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: center;
}
.chapterTitle {
  text-align: center;
}
.chapterTitle a {
  color: var(--secondary);
  font-weight: 100;
  padding: 0;
  margin: 0;
}

.stepWrapper {
  padding: 40vh 10px 20vh;
}
.stepChapterWrapper {
  padding: 25vh 10px 25vh;
  /* opacity: .5; */
  margin-left: 5vh;
  margin-right: 5vh;
  /* border-bottom: 1px solid blue; */
  /* opacity: 0; */
  /* transition: opacity .6s ease-in-out; */
}
.stepChapterWrapper a {
  text-decoration: none;
}
.stepChapterWrapper.stepWrapperActive {
  /* opacity: 1; */
  /* border-left: 2px solid var(--primary);
  border-right: 2px solid var(--primary); */
}
.stepChapterWrapper a:hover {
  text-decoration: underline;
}

.backgroundFrameWrapper {
  position: fixed;
  z-index: -1;
  top: -200px;
  left: -200px;
  right: -200px;
  bottom: -200px;
}

.backgroundFrame {
  position: absolute;
  top: 32%;
  left: 32%;
  right: 32%;
  bottom: 32%;
  overflow: hidden;
}

.backgroundFrameOverlay {
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.65;
}

.bg {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 15%;
  right: 15%;
  background-size: cover;
  background-position: 50%;
  will-change: opacity;
}

@media (min-width: 600px) {
  .stepWrapper {
    padding: 40vh 150px 20vh;
  }
  .stepChapterWrapper {
    padding: 25vh 150px 25vh;
    /* max-width: 50%; */
    margin: 0 auto;
  }
  .backgroundFrame {
    top: 28%;
    left: 28%;
    right: 28%;
    bottom: 28%;
  }
}
