
.chapterNumber {
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: center
}
.chapterTitle{
  
  text-align: center;
}
.chapterTitle a {
  color: var(--secondary);
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.stepWrapper{
  padding: 40vh 10px 20vh;
}
.stepChapterWrapper{
  padding: 5vh 10px 5vh;
  /* opacity: .5; */
  margin-left: 5vh;
  margin-right: 5vh;
  border-bottom: 1px solid blue;
}
.stepChapterWrapper a{
  text-decoration: none;
}
.stepChapterWrapper.stepWrapperActive{
  /* opacity: 1; */
  /* border-left: 2px solid var(--primary);
  border-right: 2px solid var(--primary); */
}
.stepChapterWrapper.stepWrapperActive a{
  text-decoration: underline;
}

.backgroundFrame{
  position: fixed;
  z-index: -1;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow: hidden;
}

.backgroundFrameOverlay{
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  right:0;
  top: 0;
  opacity: .65;
}

@media (min-width: 600px) {
  .stepWrapper{
    padding: 40vh 150px 20vh
  }
  .stepChapterWrapper{
    padding: 25vh 150px 25vh;
    max-width: 50%;
    margin: 0 auto;
  }
  .backgroundFrame{
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
  }
}