.stickyHeader {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 999;
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
}


.stickyHeaderLink {
  font-family: Porpora, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--secondary);
  text-decoration: none;
  cursor: pointer;
  width: 100px;
}

.stickyHeaderLink:hover,
.stickyHeader > div.title a {
  text-decoration: underline;
}

.stickyHeader > div.title{
  text-align: center;
  color: var(--secondary);
  font-family: Porpora, sans-serif;
  font-size: 18px;
  line-height: 18px;
  width: 100px;
  will-change: transform;
  position:relative;
  transition: transform 0.6s cubic-bezier(0.85, 0, 0.15, 1);
}
.stickyHeader > div.title a{
  color: var(--secondary);
  text-decoration: none;
}

.stickyHeader > div.title::before,
.stickyHeader > div.title::after{
  position: absolute;
  content: '';
  width: 20px;
  top: 25px;
  background-color: var(--secondary);
  height: 1px;
}
.stickyHeader > div.title::before{
  left: -30px;
}
.stickyHeader > div.title::after{
  right: -30px;
}

@media screen and (min-width: 600px) {
  .stickyHeaderLink{
    width: 150px;
  }
  .stickyHeader > div.title{
    line-height: 50px;
    width: auto;
  }
}
