@font-face {
  font-family: 'Porpora';
  src: url('./assets/fonts/porpora/Porpora-Regular.woff2') format('woff2'),
    url('./assets/fonts/porpora/Porpora-Regular.woff') format('woff'),
    url('./assets/fonts/porpora/Porpora-Regular.ttf') format('truetype');
  font-weight: regular;
}

@font-face {
  font-family: 'SneakyTimes';
  src: url('./assets/fonts/sneakyTimes/Sneaky-Times.woff2') format('woff2'),
    url('./assets/fonts/sneakyTimes/Sneaky-Times.woff') format('woff');
  font-weight: regular;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Porpora, Arial, sans-serif;
  height: 100vh;
}

html,
body,
#root {
  height: 100%;
}

:root {
  --primary: #d03a45;
  --secondary: #2b219f;
  --accent: #ffc09d;
  --gray-500: rgba(0, 0, 0, 0.5);
  --theme-01: #bfe8ed;
  --theme-02: #b4ebc8;
  --font-family-serif: 'SneakyTimes', serif;
  --font-family-sans: 'Porpora', Arial, sans-serif;
  --spacer-1: 5px;
  --spacer-2: 10px;
  --spacer-3: 15px;
  --spacer-4: 20px;
  --spacer-5: 25px;
  --spacer-6: 30px;
  --spacer-7: 35px;
  --spacer-8: 40px;
  --spacer-9: 45px;
  --spacer-10: 50px;
  --font-size-1: 10px;
  --font-size-2: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  color: var(--secondary);
  font-family: 'SneakyTimes', serif;
  font-weight: 100;
}

h1 {
  font-size: 8vh;
  line-height: 1;
}

h2 {
  font-size: 6vh;
  line-height: 1;
}

.secondary {
  color: var(--secondary);
}

.sans {
  font-family: Porpora, Arial, sans-serif;
}

.heroContainer {
  height: 100vh;
  width: 100%;
  background-color: #ffc09d;
  position: relative;
}

.heroContainerWrapper {
  position: absolute;
  background-color: #ffc09d;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.heroContainerWrapper.withCover {
  background-color: #ffc09dd6;
}

.chapterCover {
  height: 100vh;
  width: 100%;
  position: relative;
}

.chapterCoverWrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
}

.chapterCoverWrapper .section-small {
  padding-top: 0;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chapterCoverWrapper .section-small h1,
.chapterCoverWrapper .section-small h2 {
  color: var(--secondary);
}

.section {
  padding-top: 120px;
  width: 90%;
  margin: 0 5%;
}

.scrollSection {
  width: 90%;
  left: 5%;
}

.section-small {
  padding-top: 8vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionTitle {
  color: black;
  font-family: Porpora, sans-serif;
  font-size: 18px;
  text-align: center;
}

.sectionText {
  color: var(--primary);
  font-family: SneakyTimes, serif;
  font-size: 18px;
  height: 45px;
}

.sectionText h3,
.trendText h3 {
  margin-top: 30px;
  font-family: SneakyTimes, serif;
  font-size: 18px;
  color: black;
  text-transform: capitalize;
}

.sectionText p {
  margin-top: 30px;
  font-family: SneakyTimes, serif;
  font-size: 15px;
  color: black;
}

/* THEME */

.vizContainer {
  display: flex;
  width: 100%;
  height: 40vh;
}

.moduleTitle {
  position: relative;
  font-family: SneakyTimes, serif;
  font-size: 20px;
  line-height: 24px;
  color: #2b219f;
  opacity: 1;
  margin: 5px 0;
  text-transform: capitalize;
}

div.moduleSubTitle {
  font-family: SneakyTimes, serif;
  margin-left: 5vw;
  margin-top: 5px;
  font-size: 18px;
  color: black;
  opacity: 1;
  text-transform: capitalize;
}

p.moduleParagraph {
  font-family: Porpora, sans-serif;
  margin-left: 0;
  margin-top: 5px;
  font-size: 14px;
  color: black;
  opacity: 1;
}

.peakDate {
  font-family: Sneaky;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #d03a45;
}

.peakTitle {
  font-family: Sneaky;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #d03a45;
  margin-top: 30px;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: var(--secondary);
  opacity: 0.8;
}

.textContainer {
  margin-top: 25px;
}

.textContainerTitle {
  font-family: Sneaky;
  font-style: normal;
  font-size: 2.8vh;
  line-height: 1.25;
  color: var(--secondary);
  margin-bottom: var(--spacer-3);
  margin-top: var(--spacer-3);
}

.textContainerSubTitle {
  font-family: Sneaky;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4vh;
  line-height: 1.25;
  color: var(--secondary);
}

.moduleProgress {
  font-family: Porpora, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #d03a45;
  margin-left: 15px;
}

.dataSource {
  font-family: Porpora, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.underline {
  text-decoration: underline;
}

.tickTrend {
  stroke-dasharray: 1 6;
}

@media screen and (max-width: 600px) {
  .section-small {
    padding-top: 80px;
  }

  h1 {
    font-size: 40px;
    line-height: 1;
  }

  h2 {
    font-size: 28px;
    line-height: 1;
  }

  .moduleTitle {
    font-size: 14px;
  }
  .moduleProgress {
    font-size: 12px;
  }
  .textContainerTitle {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 2px;
  }
  .textContainerSubTitle {
    font-size: 16px;
    line-height: 1;
    margin-top: 15px;
  }
}

.bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  will-change: opacity;
  /* background-blend-mode:multiply; */
}

.chapterBg {
  position: absolute;
  top: 15%;
  left: 15%;
  bottom: 15%;
  right: 15%;
  background-size: cover;
  background-position: center;
  will-change: opacity;
  /* background-blend-mode:multiply; */
}

.chapterFrame {
  position: absolute;
  top: 18%;
  left: 18%;
  right: 18%;
  bottom: 18%;
  overflow: hidden;
}

.TrendHeader {
  width: 90%;
  margin: 0 auto;
}

.ChapterProgress_step {
  width: var(--spacer-2);
  height: var(--spacer-2);
  border-radius: var(--spacer-2);
  margin: var(--spacer-3) var(--spacer-1);
  border: 1px solid var(--secondary);
  background: transparent;
  opacity: 0.25;
  cursor: pointer;
}
.ChapterProgress_step:hover{
  opacity: 1;
}
.ChapterProgress_step::after{
  content:'';
  width: var(--spacer-2);
  height: var(--spacer-2);
  position: absolute;
  left: -1px;
  top: -1px;
  z-index:0;
  background-color: transparent;
  will-change: background-color;
  transition: background-color .5s;
  border-radius: var(--spacer-2);
  animation-timing-function: ease-in-out;
  pointer-events: none;
}

.ChapterProgress_step:hover::after{
  animation-name: pulse;
  animation-duration: .5s;
  background: var(--secondary);
}

.ChapterProgress_step.done {
  opacity: 1;
  border-color: var(--primary);
}
.ChapterProgress_step.done:hover::after{
  background: var(--primary);
}

.ChapterProgress_step.active {
  opacity: 1;
}

.ChapterProgress_step_label {
  left: var(--spacer-3);
  line-height: var(--spacer-2);
  font-size: var(--font-size-1);
}

/* nav */
ul.nav.nav-tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.nav.nav-tabs li.nav-item button {
  background: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid;
  color: var(--secondary);
  border-radius: 0;
  border-collapse: collapse;
}
ul.nav.nav-tabs li.nav-item button:focus,
ul.nav.nav-tabs li.nav-item button:active {
  background: transparent;
  outline: none;
}
ul.nav.nav-tabs li.nav-item button.active {
  border: 1px solid;
  border-bottom: 1px solid transparent;
}

@media (min-width: 767px) {
  ul.nav.nav-tabs li.nav-item button {
    border: 1px solid transparent !important;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(.1, .1, .1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}
