@font-face {
  font-family: 'Porpora';
  src: url('./assets/fonts/porpora/Porpora-Regular.woff2') format('woff2'),
    url('./assets/fonts/porpora/Porpora-Regular.woff') format('woff'),
    url('./assets/fonts/porpora/Porpora-Regular.ttf') format('truetype');
  font-weight: regular;
}

@font-face {
  font-family: 'SneakyTimes';
  src: url('./assets/fonts/sneakyTimes/Sneaky-Times.woff2') format('woff2'),
    url('./assets/fonts/sneakyTimes/Sneaky-Times.woff') format('woff');
  font-weight: regular;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Porpora, Arial, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  color: #d1646c;
  font-family: SneakyTimes, serif;
}

h1 {
  font-size: 65px;
  line-height: 78px;
}

h2 {
  font-size: 40px;
  line-height: 50px;
}

.sans {
  font-family: Porpora, Arial, sans-serif;
}

.stickyHeader {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 999;
}

.section {
  padding-top: 120px;
  width: 90%;
  margin: 0 5%;
}

.sectionTitle {
  position: absolute;
  color: #d1646c;
  font-family: SneakyTimes, serif;
  font-size: 18px;
  left: -285px;
  width: 500px;
  height: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(-90deg);
  transform-origin: center;
  text-transform: uppercase;
  text-align: center;
}

.sectionText {
  margin-top: 30px;
  color: #d1646c;
  font-family: SneakyTimes, serif;
  font-size: 18px;
}

.sectionText h3,
.trendText h3 {
  margin-top: 30px;
  font-family: SneakyTimes, serif;
  font-size: 18px;
  color: black;
  text-transform: capitalize;
}

.sectionText p {
  margin-top: 30px;
  font-family: SneakyTimes, serif;
  font-size: 15px;
  color: black;
}

/* THEME */

.vizContainer {
  display: flex;
  width: 100%;
}
