@font-face {
  font-family: 'Porpora';
  src: url('./assets/fonts/porpora/Porpora-Regular.woff2') format('woff2'),
    url('./assets/fonts/porpora/Porpora-Regular.woff') format('woff'),
    url('./assets/fonts/porpora/Porpora-Regular.ttf') format('truetype');
  font-weight: regular;
}

@font-face {
  font-family: 'SneakyTimes';
  src: url('./assets/fonts/sneakyTimes/Sneaky-Times.woff2') format('woff2'),
    url('./assets/fonts/sneakyTimes/Sneaky-Times.woff') format('woff');
  font-weight: regular;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Porpora, Arial, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  color: #d8434e;
  font-family: 'SneakyTimes', serif;
}

h1 {
  font-size: 8vh;
  line-height: 1;
}

h2 {
  font-size: 6vh;
  line-height: 1;
}

.sans {
  font-family: Porpora, Arial, sans-serif;
}

.stickyHeader {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 999;
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
}

.stickyHeaderLink {
  font-family: Porpora, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #433aa9;
  text-decoration: none;
  cursor: pointer;
}

.stickyHeaderLink:hover {
  text-decoration: underline;
}

.heroContainer {
  height: 100vh;
  width: 100%;
  background-color: #ffd8c2;
}

.heroContainerWrapper {
  position: absolute;
  background-color: #ffd8c2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.heroContainerWrapper.withCover {
  background-color: #ffd8c2d6;
}

.section {
  padding-top: 120px;
  width: 90%;
  margin: 0 5%;
}

.scrollSection {
  width: 90%;
  opacity: 0;
}

.section-small {
  padding-top: 8vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionTitle {
  color: #d8434e;
  font-family: Porpora, sans-serif;
  font-size: 18px;
  text-align: center;
}

.sectionText {
  color: #d8434e;
  font-family: SneakyTimes, serif;
  font-size: 18px;
  height: 45px;
}

.sectionText h3,
.trendText h3 {
  margin-top: 30px;
  font-family: SneakyTimes, serif;
  font-size: 18px;
  color: black;
  text-transform: capitalize;
}

.sectionText p {
  margin-top: 30px;
  font-family: SneakyTimes, serif;
  font-size: 15px;
  color: black;
}

/* THEME */

.vizContainer {
  display: flex;
  width: 100%;
  height: 40vh;
}

.moduleTitle {
  position: relative;
  font-family: SneakyTimes, serif;
  font-size: 20px;
  line-height: 24px;
  color: black;
  opacity: 1;
  margin: 5px 0;
  text-transform: capitalize;
}

div.moduleSubTitle {
  font-family: SneakyTimes, serif;
  margin-left: 5vw;
  margin-top: 5px;
  font-size: 18px;
  color: black;
  opacity: 1;
  text-transform: capitalize;
}

p.moduleParagraph {
  font-family: Porpora, sans-serif;
  margin-left: 0;
  margin-top: 5px;
  font-size: 14px;
  color: black;
  opacity: 1;
}

.peakDate {
  font-family: Sneaky;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #d8434e;
}

.peakTitle {
  font-family: Sneaky;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #d8434e;
  margin-top: 30px;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: #433aa9;
  opacity: 0.8;
}

.textContainer {
  margin-top: 15px;
}

.textContainerTitle {
  /* font-family: Sneaky; */
  font-family: Porpora, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3vh;
  line-height: 1.25;
  color: #d8434e;
  margin-bottom: 15px;
}

.textContainerSubTitle {
  font-family: Sneaky;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4vh;
  line-height: 1.25;
  /* color: #d8434e; */
  color: black;
}

.moduleProgress {
  font-family: Porpora, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #d8434e;
  margin-left: 15px;
}

.dataSource {
  font-family: Porpora, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.underline {
  text-decoration: underline;
}

.tickTrend {
  stroke-dasharray: 1 6;
}

@media screen and (max-width: 600px) {
  .section-small {
    padding-top: 80px;
  }

  h1 {
    font-size: 40px;
    line-height: 1;
  }

  h2 {
    font-size: 28px;
    line-height: 1;
  }

  .moduleTitle {
    font-size: 14px;
  }
  .moduleProgress {
    font-size: 12px;
  }
  .textContainerTitle {
    font-size: 20px;
    line-height: 1;
  }
  .textContainerSubTitle {
    font-size: 20px;
    line-height: 1;
  }
}
